.game-bg {
  background-color: #191f40;
}
.game-card {
  overflow: hidden;
}
.game-card:hover .game-img {
  transform: scale(1.1);
  opacity: 90%;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.game-card:hover .game-caption {
  color: orangered;
  transform: scale(1.1);
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
